<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Fitness Center - Members
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Browse</ion-card-title>
          <ion-card-subtitle>
            See below a list of all gym members. <br>
            To see more click on the icon on the right
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-list>
              <ion-item lines="inset" *ngFor="let member of members">
                  <ion-icon name="person-outline" slot="start"></ion-icon>
                  <ion-label>
                      <h3>{{ member.fullName }}</h3>
                      <p>{{ member.email }} - {{ member.contactNumber }}</p>
                  </ion-label>
                  <ion-button fill="clear" size="large" [routerLink]="['/read', member.id]">
                      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                  </ion-button>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-card>

  <br>

  <ion-button [routerLink]="['/tabs/create']" id="add-member" expand="block" fill="solid" shape="round">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      New Member
  </ion-button>

</ion-content>
