<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
      <ion-card-header>
          <ion-card-title>{{ memberObj.fullName }}</ion-card-title>
          <ion-card-subtitle>Update member information below</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="myForm">
          <ion-item>
            <ion-input label="Full Name" labelPlacement="floating" type="text" formControlName="fullName" [(ngModel)]="fullName">
          </ion-input>
          </ion-item>
          <p class="input-errors" *ngIf="!valid && myForm.controls.fullName.errors?.['required']">
            This field is required.
          </p>
          <ion-item>
              <ion-label>Date of Birth</ion-label>
              <ion-datetime-button datetime="dob"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime presentation="date" id="dob" formControlName="dob" [(ngModel)]="dob"></ion-datetime>
                </ng-template>
              </ion-modal>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.dob.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-radio-group formControlName="gender" [(ngModel)]="gender" id="gender">
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let genderType of genders">
                    <ion-radio labelPlacement="end" value="{{ genderType }}">{{ genderType }}</ion-radio>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.gender.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-select [(ngModel)]="membership" formControlName="membership" label="Membership Type">
                <ion-select-option *ngFor="let type of membershipTypes" value="{{ type }}">{{ type }}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.membership.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-label>Start Date</ion-label>
            <ion-datetime-button datetime="startDate"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime formControlName="startDate" presentation="date" [(ngModel)]="startDay" id="startDate"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.startDate.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-input label="Contact Number" labelPlacement="floating" type="number" formControlName="contact" [(ngModel)]="contactNumber"></ion-input>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.contact.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.email.errors?.['required']">
            Email is required.
          </span>
          <span class="input-errors" *ngIf="!valid && myForm.controls.email.errors?.['email']">
            Invalid email format.
          </span>
          <ion-item>
            <ion-input label="Address" labelPlacement="floating" type="text" formControlName="address" [(ngModel)]="address"></ion-input>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.address.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-input label="Emergency Number" labelPlacement="floating" type="number" [(ngModel)]="emergencyNumber" formControlName="emergencyNumber"></ion-input>
          </ion-item>
          <span class="input-errors" *ngIf="!valid && myForm.controls.emergencyNumber.errors?.['required']">
            This field is required.
          </span>
          <ion-item>
            <ion-textarea label="Medical Condition" labelPlacement="floating" [(ngModel)]="medicalCondition" formControlName="medicalCondition"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="isTrial" labelPlacement="end" [(ngModel)]="isTrial" justify="start">Trial</ion-checkbox>
          </ion-item>
        </form>
        <br>
        <ion-button type="submit" id="open-toast" (click)="updateMember()" expand="full">Save</ion-button>
        <br>
        <ion-button expand="full" color="light" [routerLink]="['/read', memberObj.id]" router-direction="back">Back</ion-button>
      </ion-card-content>
  </ion-card>
  <ion-toast color="success" trigger="open-toast" message="{{ memberObj.fullName }} was updated successfully." [duration]="2000" [buttons]="dismissToast"></ion-toast>
</ion-content>
